[submodule "qemu"]
	path = qemu
	url = https://github.com/MahnoKropotkinvich/qemu
	branch = openpiton
[submodule "bsc-linux"]
	path = bsc-linux
	url = https://github.com/MahnoKropotkinvich/bsc-linux.git
	branch = mlb
