[submodule "qemu"]
	path = qemu
	url = https://github.com/MahnoKropotkinvich/qemu
	branch = openpiton
[submodule "linux"]
	path = linux
	url = https://github.com/MahnoKropotkinvich/linux.git
	branch = openpiton
